<nav class="footer navbar ">
  <div class="container">
    <div class="row">
      <div
        class="col-md-4 col-sm-8 d-flex flex-column justify-content-center my-3"
      >
        <span class="mx-auto" id="footerLogo" routerLink="/home"
          ><img
            src="./assets/book logo.jfif"
            alt="BookStore Logo"
            height="30px"
          /><b>book</b><b><i>Store</i></b></span
        >
        <p class="fontStyle text-center">
          Embark on a literary adventure! Explore a vast world of genres, from
          captivating fiction to insightful nonfiction. 📚📙
        </p>
        <p class="fontStyle text-center"><em>Happy reading!</em> 📖</p>
      </div>
      <div class="col-md-2 col-sm-4 d-flex justify-content-center my-3">
        <div class="d-flex flex-column">
          <p class="footerHeading">NAVIGATE</p>
          <span class="link" routerLink="/home">Home</span>
          <span class="link" routerLink="/aboutus">About Us</span>
          <span class="link" routerLink="/cart">Cart</span>
          <span class="link" routerLink="/orders">Orders</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-8 d-flex justify-content-center my-3">
        <div class="d-flex flex-column">
          <p class="footerHeading">GET IN TOUCH</p>
          <p class="my-1 fontStyle">📞+91-12340-56789</p>
          <p class="my-1 fontStyle">📧contact&#64;BookStore.com</p>
          <p class="my-1 fontStyle">📌Munger, Bihar-600130</p>
          <div class="d-flex justify-content-center mt-3">
            <a href="https://www.facebook.com/" target="_main"
              ><img
                class="pe-3"
                src="https://cdn-icons-png.flaticon.com/128/733/733547.png"
                alt="Facebook"
                height="20px"
            /></a>
            <a href="https://twitter.com/?lang=en" target="_main"
              ><img
                class="pe-3"
                src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png"
                alt="Twitter"
                height="20px"
            /></a>
            <a href="https://in.linkedin.com/" target="_main"
              ><img
                class="pe-3"
                src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png"
                alt="Linkdin"
                height="20px"
            /></a>
            <a href="https://www.instagram.com/" target="_main"
              ><img
                class="pe-3"
                src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png"
                alt="Instagram"
                height="20px"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 d-flex justify-content-center my-3">
        <div class="d-flex flex-column">
          <p class="footerHeading">LEARN MORE</p>
          <span class="link" routerLink="/error">Privacy</span>
          <span class="link" routerLink="/error">Security</span>
          <span class="link" routerLink="/error">Terms</span>
          <span class="link" routerLink="/error">Sitemap</span>
        </div>
      </div>
      <hr id="hr" />
      <p class="text-center fontStyle">
        © 2023 BookStore.com. All rights reserved.
      </p>
    </div>
  </div>
</nav>
