<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img class="img-fluid animate" src="assets\error.png" alt="Error" height="500px" />
        </div>
        <div class="col-12 d-flex justify-content-center mb-5">
            <img class="my-auto me-4" src="assets\notFound.png" alt="Not Found" height="100px" />
            <div class="my-auto">
                <h3 class="carouselHeading">THE PAGE YOU WERE LOOKING FOR DOESN'T EXIST.</h3>
                <h6 class="carouselText">You may have mistyped the address or the page may have moved.</h6>
            </div>
        </div>
    </div>
</div>
