<ng-container *ngIf="book">
  <div class="card rounded-3" style="height: 100%">
    <img
      [src]="book.image"
      alt="Book image"
      class="card-img-top"
      height="200px"
    />
    <div class="card-body">
      <h6 class="menu-card-title text-center mb-4">{{ book.title }}</h6>
      <p
        class="formLink"
        style="display: inline-block"
        (click)="viewDetail(book._id)"
      >
        View Details
      </p>
    </div>
    <div class="card-footer container d-flex flex-column align-items-center">
      <b>Price: ₹{{ book.price }}</b>
      <button
        class="cart-button"
        (click)="addToCart(book.title, book.price, book.image)"
      >
        Add To Cart
      </button>
    </div>
  </div>
</ng-container>
